:root {
  --palette-primary: #ff4900;
  --palette-gray: #ebebeb;
  --palette-white: white;
  --palette-black: black;
  --palette-lightpink: #c9b79e;
  --container-width: 1175px;
}

.container {
  margin: 0px auto;
  max-width: var(--container-width);
}

.button--primary {
  padding: 14px 37px;
  background-color: var(--palette-primary);
  color: var(--palette-white);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
