:root {
  --palette-primary: #ff4900;
  --palette-gray: #ebebeb;
  --container-width: 1230px;
}

* {
  margin: 0;
  padding: 0;
}

.nav {
  height: 200px;
  width: 100%;
  display: inline-block;
  background-color: var(--palette-gray);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 37px auto;
  max-width: var(--container-width);
}

.header__icon {
  margin-left: 37px;
}

.button {
  height: 45px;
  width: 140px;
  background-color: var(--palette-primary);
  color: white;
  border: none;
  border-radius: 3px;
}

.links-container__links {
  background-color: var(--palette-gray);
  color: black;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.links-container__links--active {
  border-bottom: 2px solid var(--palette-primary);
  border-color: var(--palette-primary);
  color: var(--palette-primary);
}

.links-container {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 10px;
}
